/* screen-1_heading */
.screen-1_heading{
  transition: all 1s;
}

.screen-1_phone,
.screen-1_shadow{
  transition: all 1s 0.5s;
}

.screen-1_heading_animate_init,
.screen-1_shadow_animate_init{
  opacity: 0;
  transform: translate(0,100%);
}

.screen-1_heading_animate_done,
.screen-1_phone_animate_done,
.screen-1_shadow_animate_done{
  opacity: 1;
  transform: translate(0,0);
}
/* .screen-1_phone单独初始样式 */
.screen-1_phone_animate_init{
  opacity: 0;
  transform: translate(0,-100%);
}


/* screen-2  ================== */
.screen-2_heading{
  transition: all 1s;
}

.screen-2_phone,
.screen-2_subHeading{
  transition: all 1s 0.5s;
}
/* 小指针的动画延时1s */
.screen-2_pointer-right,
.screen-2_pointer-left-1,
.screen-2_pointer-left-2{
  transition: all 1s 1s;
}

.screen-2_subHeading_animate_init,
.screen-2_phone_animate_init{
  opacity: 0;
  transform: translate(0,100%);
}

.screen-2_heading_animate_init{
  opacity: 0;
  transform: translate(0,-100%);
}

/* 小箭头 */
.screen-2_pointer-right_animate_init{
  opacity: 0;
  transform: translate(-100%,0);
}
.screen-2_pointer-left-1_animate_init,
.screen-2_pointer-left-2_animate_init{
  opacity: 0;
  transform: translate(100%,0);
}

.screen-2_heading_animate_done,
.screen-2_subHeading_animate_done,
.screen-2_phone_animate_done,
.screen-2_pointer-left-1_animate_done,
.screen-2_pointer-left-2_animate_done,
.screen-2_pointer-right_animate_done{
  opacity: 1;
  transform: translate(0,0);
}

/* screen-3  ================== */
.screen-3_heading{
  transition: all 1s;
}

.screen-3_phone,
.screen-3_subHeading{
  transition: all 1s 0.5s;
}

.screen-3_info_wrap{
  transition: all 1s 1s;
}

.screen-3_subHeading_animate_init,
.screen-3_phone_animate_init{
  opacity: 0;
  transform: translate(0,100%);
}

.screen-3_heading_animate_init{
  opacity: 0;
  transform: translate(0,-100%);
}

.screen-3_info_wrap_animate_init{
  opacity: 0;
  transform: scale(0.5);
}

.screen-3_info{
  transition: all 0.5s;
}

.screen-3_info:hover{
  transform: scale(1.05);
  cursor: pointer;
}

.screen-3_heading_animate_done,
.screen-3_subHeading_animate_done,
.screen-3_phone_animate_done{
  opacity: 1;
  transform: translate(0,0);
}

.screen-3_info_wrap_animate_done{
  opacity: 1;
  transform: translate(0,0);
  transform: scale(1);
}

/* screen-4  ================== */
.screen-4_heading{
  transition: all 1s;
}

.screen-4_phone,
.screen-4_subHeading{
  transition: all 1s 0.5s;
}

.screen-4_subHeading_animate_init{
  opacity: 0;
  transform: translate(0,100%);
}

.screen-4_heading_animate_init{
  opacity: 0;
  transform: translate(0,-100%);
}

.screen-4_phone_red_wrap{
  transition: all 1s 0.5s;
}

.screen-4_phone_gold_wrap{
  transition: all 1s 0.7s;
}

.screen-4_phone_silver_wrap{
  transition: all 1s 0.9s;
}

.screen-4_phone_black_wrap{
  transition: all 1s 1.1s;
}

.screen-4_phone_red_wrap_animate_init,
.screen-4_phone_gold_wrap_animate_init,
.screen-4_phone_silver_wrap_animate_init,
.screen-4_phone_black_wrap_animate_init
{
  opacity: 0;
  transform: translate(-100%,0);
}

.screen-4_phone_red_wrap_animate_done,
.screen-4_phone_gold_wrap_animate_done,
.screen-4_phone_silver_wrap_animate_done,
.screen-4_phone_black_wrap_animate_done
{
  opacity: 1;
  transform: translate(0,0);
}

/* screen-5  ================== */
.screen-5_heading{
  transition: all 1s;
}

.screen-5_subHeading,
.screen-5_phone-piano{
  transition: all 1s 0.5s;
}

.screen-5_phone-game{
  transition: all 1s 0.8s;
}

.screen-5_phone-browser{
  transition: all 1s 1s;
}

.screen-5_subHeading_animate_init,
.screen-5_phone-piano_animate_init{
  opacity: 0;
  transform: translate(0,100%);
}

.screen-5_heading_animate_init{
  opacity: 0;
  transform: translate(0,-100%);
}

.screen-5_phone-game_animate_init{
  opacity: 0;
  transform: translate(-100%,0);
}

.screen-5_phone-browser_animate_init{
  opacity: 0;
  transform: translate(100%,0);
}

.screen-5_heading_animate_done,
.screen-5_subHeading_animate_done,
.screen_5_phone-piano_animate_done,
.screen-5_phone-game_animate_done,
.screen-5_phone-browser_animate_done
{
  opacity: 1;
  transform: translate(0,0);
}

/* pointer帧动画 */
@keyframes bounce {
  0%,100%{
    transform: scale(0);
  }
  25%{
    transform: scale(1);
  }
  60%{
    transform: scale(0.1);
  }
}

.screen-2_pointer-right::after,
.screen-2_pointer-left-1::after,
.screen-2_pointer-left-2::after{
  content: ' ';
  display: block;
  width: 21px;
  height: 21px;
  position: absolute;
  border-radius: 50%;
  background: rgba(255,17, 17, 0.4);
  animation: bounce 4s infinite;
}

.screen-2_pointer-left-1::after,
.screen-2_pointer-left-2::after{
  top: 1px;
  left: 0px;
}

.screen-2_pointer-right::after{
  top: 1px;
  left: 187px;
}
