/* BEM */

/* 取消a默认样式 */
a{
  text-decoration: none;
}

.header{
  /* width: 1200px; */
  background: #f6f6f6;

  /* position: relative; */
  /* fixed */
  /* position: fixed; */
}

.header_wrap{
  height: 60px;
  width: 1152px;
  margin: 0 auto;
  padding: 20px 24px 0 24px;
  position: relative;
}

.header_logo{
  display: block;
  width: 120px;
  height: 38px;
  background: url('../img/logo.png') no-repeat center left;
  background-size: 38px 38px;
  /* 字体 */
  font: 20px/38px MicrosoftYaHeiUILight;
  color: #07111b;
  text-indent: 50px;
}

.header_nav{
  position: absolute;
  top: 20px;
  right: 24px;
}
.header_nav-item{
  display: inline-block;
  height: 40px;

  margin: 0 0 0 40px;

  text-align: center;
  font: 14px/40px MicrosoftYaHeiUILight;
  color: #07111b;
}

.header_nav-item_buy{
  padding: 0 16px 0 18px;
  color: #fff;
  background: #07111b;
  border-radius: 2px;
}

.header_nav-item_status_active{
  color: #f01414;
}

.header_nav-item_status_active::after{
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
  background: #f01414;
}

/* fixed侧边栏 */
.sidebar{
  width: 56px;
  height: 192px;
  position: fixed;
  right: 0px;
  bottom: 139px;

  background: #fff;
  z-index: 3;
}

.sidebar_item{
  display: block;
  text-align: center;
  line-height: 48px;
  height: 48px;
  width: 56px;

  color: #93999f;
}

.sidebar_item:nth-last-child(n+2)::after{
  content: ' ';
  display: block;
  width: 24px;
  height: 1px;
  bottom: -1;
  margin: 0 auto;
  background: #edf1f2;
}

.sidebar_item_status_active{
  color: #07111b;
}

/* 第一屏 */
.screen-1{
  height: 800px;
  /* margin: 0 auto; */
  background: url('../img/background.png') no-repeat center center;
  background-size: cover;

  position: relative;
  overflow: hidden;
}

.screen-1_heading{
  text-align: center;
  font:normal 46px MicrosoftYaHeiUILight;
  color: #4d5554;

  padding: 152px 0 105px 0;
}

.screen-1_heading b{
  color: #f01414;
}

.screen-1_phone{
  width: 1375px;
  height: 305px;
  background: url('../img/phone.png') no-repeat;
  position: absolute;
  left: 50%;
  margin-left: -687px;
  z-index: 2;
}

.screen-1_shadow{
  width: 1331px;
  height: 491px;
  background: url('../img/shadow.png') no-repeat;
  /* 居中 */
  position: absolute;
  left: 50%;
  margin-top: 72px;
  margin-left: -665px;
  z-index: 1;
}

/* 第二屏 */
.screen-2{
  height: 800px;
  background: #fafafa;

  position: relative;
  overflow: hidden;
}

.screen-2_heading{
  text-align: center;
  font:normal 46px MicrosoftYaHeiUILight;
  color: #f01414;
  padding: 96px 0 24px 0;
}

.screen-2_subHeading{
  text-align: center;
  font:300 16px/28px MicrosoftYaHeiUILight;
  color: #2c3137;
  padding-bottom: 41px;
}

.screen-2_phone{
  width: 928px;
  height: 873px;

  background: url('../img/phone_2.png');

  position: absolute;
  left: 50%;
  margin-left: -364px;
  z-index: 2;
}

.screen-2_pointer-right{
  width: 96px;
  height: 23px;
  padding-right: 112px;
  background: url('../img/pointer-right.png') no-repeat center right;
  font: 300 24px/23px MicrosoftYaHeiUILight;
  color: #4d555d;
}

/* 高清摄像 */
.screen-2_pointer-1{
  position: absolute;
  left: -150px;
  top: 156px;
}

/* 超薄机身 */
.screen-2_pointer-left-1,.screen-2_pointer-left-2{
  width: 96px;
  height: 23px;
  padding-left: 112px; 
  background: url('../img/pointer-left.png') no-repeat center left;
  font: 300 24px/23px MicrosoftYaHeiUILight;
  color: #4d555d;
}

/* 大屏显示 */
.screen-2_pointer-2{
  position: absolute;
  right: 142px;
  top: 32px;
}

.screen-2_pointer-3{
  position: absolute;
  right: 38px;
  top: 336px;
}

/* 第三屏 */
.screen-3{
  height: 800px;
  /* margin: 0 auto; */
  background: #f01414 url('../img/background-3.png') no-repeat center center;
  background-size: cover;

  overflow: hidden;
}

.screen-3_wrap{
  width: 1200px;
  position: relative;


  /* position: absolute; */
  margin: 0 auto;
}

.screen-3_heading{
  font:lighter 46px/46px MicrosoftYaHeiUILight;
  color: #fff;

  padding: 96px 0 30px 0;
}

.screen-3_subHeading{
  font:300 16px/28px MicrosoftYaHeiUILight;
  color: #fff;
}

.screen-3_phone{
  width: 750px;
  height: 900px;

  background: url('../img/phone_3.png') no-repeat;
  background-size: cover;

  position: absolute;
  top: 200px;
  right: 0;
}

.screen-3_info_wrap{
  width: 304px;
  height: 264px;

  position: absolute;
  top: 397px;
  margin-left: 3px;
}

.screen-3_info{
  width: 138px;
  height: 92px;

  position: absolute;

  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 4px;

  text-align: center;
  color: #fff;
  padding-top: 26px;
  font-size: 16px;
}

.screen-3_info b{
  font: 300 48px/48px MicrosoftYaHeiUILight;
}

.screen-3_info-1{
  top: 0;
  left: 0;
}

.screen-3_info-2{
  top: 0;
  left: 164px;
}

.screen-3_info-3{
  top: 144px;
  left: 0;
}

.screen-3_info-4{
  top: 144px;
  left: 164px;
}

.screen-4{
  height: 800px;
  background: #fff;
  position: relative;
}

.screen-4_heading{
  font: 300 48px/48px MicrosoftYaHeiUILight;
  color: #f01414;
  text-align: center;
  padding-top: 134px;
}

.screen-4_subHeading{
  font: 300 16px/16px MicrosoftYaHeiUILight;
  color: #07111b;
  text-align: center;
  padding-top: 35px;
}

.screen-4_phone_wrap{
  height: 341px;
  width: 270px;
  position: absolute;
}

.screen-4_phone_red_wrap{
  top: 305px;
  left: 50%;
  margin-left: -600px
}

.screen-4_phone_gold_wrap{
  top: 305px;
  left: 50%;
  margin-left: -290px;
}

.screen-4_phone_silver_wrap{
  top: 305px;
  left: 50%;
  margin-left: 21px;
}

.screen-4_phone_black_wrap{
  top: 305px;
  left: 50%;
  margin-left: 331px;
}

.screen-4_phone{
  width: 270px;
  height: 270px;
}

.screen-4_phone_red{
  background: url('../img/phone_red.png');
  background-size: cover;
}

.screen-4_phone_gold{
  background: url('../img/phone_gold.png');
  background-size: cover;
}

.screen-4_phone_silver{
  background: url('../img/phone_silver.png');
  background-size: cover;
}

.screen-4_phone_black{
  background: url('../img/phone_black.png');
  background-size: cover;
}

.screen-4_phone_heading{
  margin-top: 20px;
  text-align: center;

  color: #93999f;
}

.screen-4_phone_heading b{
  color: #07111b;
  font: 16px/40px MicrosoftYaHeiUILight;
}

.screen-5{
  height: 800px;
  background: #d9dde1;
  position: relative;
  overflow: hidden;
}

.screen-5_heading{
  font: 300 48px/48px MicrosoftYaHeiUILight;
  color: #f01414;
  text-align: center;
  padding-top: 135px;
}

.screen-5_subHeading{
  font: 300 16px/16px MicrosoftYaHeiUILight;
  color: #07111b;
  text-align: center;
  padding-top: 36px;
  padding-bottom: 135px;
}

.screen-5_phone_wrap{
  width: 1920px;
  height: 432px;
  position: absolute;
  left: 50%;
  margin-left: -960px;
}

.screen-5_phone-piano{
  width: 942px;
  height: 483px;
  background: url('../img/phone_piano.png');
  background-size: cover;
  position: absolute;
  left: 50%;
  margin-left: -471px;
}

.screen-5_phone-game{
  /* 792*452 */
  width: 848px;
  height: 508px;
  background: url('../img/phone_game.png');
  position: absolute;
  left: 50%;
  margin-left: -1351px;
  margin-top: 74px;
}

.screen-5_phone-browser{
  /* 792*452 */
  width: 848px;
  height: 508px;
  background: url('../img/phone_browser.png');
  position: absolute;
  left: 50%;
  margin-left: 503px;
  margin-top: 74px;
}

.screen-6{
  height: 320px;
  width: 2560px;
  background: url('../img/background_screen_6.png') no-repeat;
  position: relative;
  left: 50%;
  margin-left: -1280px;
}

.screen-6_buy{
  width: 240px;
  height: 80px;
  margin-top: 120px;

  font: 300 24px/80px MicrosoftYaHeiUILight;
  color: #fff;
  text-align: center;

  background: #f01414;
  border-radius: 4px;

  position: absolute;
  left: 50%;
  margin-left: -120px;
}

/* footer */
.footer{
  height: 45px;
  background: #07111b;
  padding-top: 35px;
  font: 300 12px MicrosoftYaHeiUILight;
  color: #fff;

  text-align: center;
}